In [60]:
import pandas as pd

data  = pd.read_csv('/content/adult.data.csv')
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [14]:
# How many people of each race are represented in this dataset? 
# This should be a Pandas series with race names as the index labels.
race_data = data['race'].value_counts()
race_data

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [15]:
#  What is the average age of men?
# data[["sex", "age"]].groupby("sex").mean()


avg_age = data.loc[data['sex'] == 'Male']['age'].mean().round(decimals=2)
print("Average MEN'S age :"+str(avg_age))

Average MEN'S age :39.43

In [48]:
# What is the percentage of people who have a Bachelor's degree?

bachelor_data = data.loc[data['education'] == 'Bachelors']
rows_total = data.shape[0]
rows_count = bachelor_data.shape[0]
percentage = (rows_count/rows_total)*100
 
print("percentage of people who have a Bachelor's degree is :"+ str(percentage))

percentage of people who have a Bachelor's degree is :16.44605509658794

In [47]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
education_salary_data = data[['education', 'salary']]
education_salary_data


education_salary_data = education_salary_data.loc[((education_salary_data['education'] == 'Bachelors') |
                                                  (education_salary_data['education'] == 'Masters') |
                                                  (education_salary_data['education'] == 'Doctorate')) & 
                                                  (education_salary_data['salary'] == '>50K') ]
education_salary_data 
rows = education_salary_data.shape[0]
percentage_salary = (rows/rows_total)*100

print("Percentage of people with advanced education (Bachelors, Masters, or Doctorate)\nmake more than 50K is: " + str(percentage_salary))

Percentage of people with advanced education (Bachelors, Masters, or Doctorate)
make more than 50K is: 10.706059396210192

In [53]:
 # What percentage of people without advanced education make more than 50K?

education_salary_data = data[['education', 'salary']]
education_salary_data


education_salary_data_without = education_salary_data.loc[((education_salary_data['education'] != 'Bachelors') |
                                                  (education_salary_data['education'] != 'Masters') |
                                                  (education_salary_data['education'] != 'Doctorate')) & 
                                                  (education_salary_data['salary'] == '>50K') ]

rows_without = education_salary_data_without.shape[0]
percentage_salary_without = (rows_without/rows_total)*100

print("Percentage of people without advanced education make more than 50K: " + str(percentage_salary_without))

Percentage of people without advanced education make more than 50K: 24.080955744602438

In [52]:
# What is the minimum number of hours a person works per week?

minumum_hour_work_data = data['hours-per-week'].min()
print('minimum number of hours a person works per week is :'+str(minumum_hour_work_data))

minimum number of hours a person works per week is :1

In [59]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

work_hour_salary_data = data[['hours-per-week', 'salary']]
work_hour_salary_data

work_hour_salary_data = work_hour_salary_data.loc[(work_hour_salary_data['hours-per-week'] == (work_hour_salary_data['hours-per-week'].min()))& 
                                                  (education_salary_data['salary'] == '>50K') ]

rows_without = work_hour_salary_data.shape[0]
percentage_people = (rows_without/rows_total)*100

print('percentage of the people who work the minimum number of hours per week\nhave a salary of more than 50K is :'+str(percentage_people))

percentage of the people who work the minimum number of hours per week
have a salary of more than 50K is :0.006142317496391388

In [61]:
# What country has the highest percentage of people that earn >50K and what is that percentage?


grouped = data.groupby(['native-country', 'salary']).size().unstack()

# Calculate the percentage of people earning >50K for each country
grouped['>50K_percentage'] = (grouped['>50K'] / (grouped['<=50K'] + grouped['>50K'])) * 100

# Find the country with the highest percentage
highest_percentage_country = grouped['>50K_percentage'].idxmax()
highest_percentage = grouped.loc[highest_percentage_country, '>50K_percentage']

# Print the result
print("Country with the highest percentage of people earning >50K: ", highest_percentage_country)
print("Percentage of people earning >50K in that country: ", highest_percentage)

Country with the highest percentage of people earning >50K:  Iran
Percentage of people earning >50K in that country:  41.86046511627907

In [64]:

# Identify the most popular occupation for those who earn >50K in India.

# Filter the data for individuals earning >50K and residing in India
filtered_data = data[(data['salary'] == '>50K') & (data['native-country'] == 'India')]

# Count the occurrences of each occupation
occupation_counts = filtered_data['occupation'].value_counts()

# Get the most popular occupation
most_popular_occupation = occupation_counts.idxmax()

# Print the result
print("Most popular occupation for those earning >50K in India: ", most_popular_occupation)

Most popular occupation for those earning >50K in India:  Prof-specialty

In [63]:
data['occupation'].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64